
body {
    background-color: #444;
    margin: 0;
    padding: 0;
}

#game {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    height: 100vh;

    line {
        stroke-width: 2px;
        stroke-linecap: round;
    }
}